@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Oswald:wght@400&display=swap");

/* body */
body {
    background-color: #F9FAFC;
}

/* background colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #f8f9fb;
}

/* logo */
#logo {
    float: right;
    height: 40px;
    padding-right: 5px;
    border-radius: 50%;
}

/* navigation links */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #171719;
}

.orange {
    color: #d14111;
}

.font {
    font-weight: 500;
    color: #171719;
}

/*News Entries Column*/
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 5px;
}

.post-link {
    text-decoration: none;
    color: #052241;
}

.post-link:hover {
    color: #481404;
}

.page-link {
    color:#052241
}

.page-link:hover {
    color:#97250e
}

/* post details */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-text {
    background-color: #13355b;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #13355b;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* signup form */
.btn-signup {
    background-color: #138197;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #862020;
    color: #d6e2e2;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Post like */
.btn-like {
    color: #585655;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #363534;
    background: transparent;
    border: none;
}