@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@400&display=swap");

/* body */
body {
    background-color: #F9FAFC;
}

/* background colors */
.light-bg {
    background-color: #fff;
}

.colored-bg {
    background-color: #75dcdc;
}

.main-bg {
    background-color: #f8f9fb;
}

/* logo */
#logo {
    float: right;
    height: 40px;
    padding-right: 5px;
    border-radius: 50%;
}

/* navigation links */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #171719;
}

.orange {
    color: #d14111;
}

.font {
    font-weight: 500;
    color: #171719;
}

/*News Entries Column*/
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 5px;
}

.post-link {
    text-decoration: none;
    color: #052241;
}

.post-link:hover {
    color: #481404;
}

.page-link {
    color:#052241
}

.page-link:hover {
    color:#97250e
}

/* post details */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-text {
    background-color: #13355b;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #13355b;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* login, logout & signup form */
.black {
    color: #171719;
}

.btn-login, 
.btn-logout, 
.btn-signup {
    background-color: #138197;
    color: #fff;
}
.btn-login:hover,
.btn-logout:hover,
.btn-signup:hover,
.btn-login:active, 
.btn-logout:active,
.btn-signup:active {
    background-color: #094c59;
    color: #d6e2e2;
}

.link {
    color: #0a9292;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(109, 10, 10);
    text-decoration: underline;
}

/* Post like */
.btn-like, .btn-unlike {
    color: #585655;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-unlike:hover,
.btn-like:active,
.btn-unlike:active {
    color: #363534;
    background: transparent;
    border: none;
}

/* footer */
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    color: rgb(109, 10, 10);
}
